@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Uw aanvraag voor een account moet nog goedgekeurd worden ofwel werd u account verwijderd. Voor meer info contacteer de admin</h2>

