<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-sm-3 placeholder Option1">
            
            <h4>Uitstappen</h4>
            <div class="Aantal">Aantal Uitstappen</div>
        </div>
        <div class="col-sm-3 placeholder Option2">

            <h4>POI's</h4>
            <div class="Aantal">Aantal POI's</div>
        </div>
        <div class="col-sm-3 placeholder Option3">

            <h4>Gebruikers</h4>
            <div class="Aantal">Aantal Gebruikers</div>
        </div>

    </div>


    <div class="content">
        <div class="Events">Events</div>
            <div class="MainLeft">
                <div class="Uitstap">Uitstap</div>
                <div class="POI">Test</div>
            </div>
            
           
            

        

    </div>
</div>