@model DigitaalOmgevingsboek.AspNetUsers

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Handleiding</h1>
            </div>
        </div>
       
            <div class="row">
                <div class="col-lg-12">


                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lRTLxAZ2KPI" frameborder="0" allowfullscreen ></iframe>


                    </div>


                </div>
        <div class="row">
            <div id="Howest">
                <img src="/Backgrounds/Howest_Logo.png" />
            </div>
        </div>

            </div>

</div>