@{
    ViewBag.Title = "POIStart";
}



<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">POI Overzicht</h1>


    <div class="content">

        <div class="searchPOI">

           
            <input type="button" name="btnSearch" value="Bekijk alle POI's'" onclick="location.href='@Url.Action("POIOverzicht", "POI")'" />
            <input type="button" name="btnSearch" value="Nieuwe POI" onclick="location.href='@Url.Action("POINew", "POI")'" />

        </div>

        <div class="themaPOI">
            Thema: <br />
            <ul class="themaPOI">
                @foreach (Thema th in ViewBag.Themas)
                {
                    <li>@Html.ActionLink(th.ThemaNaam, "POIOverzicht", new { thema = th.ThemaNaam })</li>
                }
            </ul>
        </div>

        <div class="doelgroepPOI">
            Doelgroep: <br />
            <ul class="doelgroepPOI">
                <li>Doelgroep 1</li>
                <li>Doelgroep 2</li>
                <li>Doelgroep 3</li>
                <li>Doelgroep 4</li>
                <li>Doelgroep 5</li>
                <li>Doelgroep 6</li>
                <li>Doelgroep 7</li>
                <li>Doelgroep 8</li>
                <li>Doelgroep 9</li>
                <li>Doelgroep 10</li>

            </ul>
        </div>

    </div>
</div>
<!--
    Script voor controle Textbox content changed

    <script type="text/javascript">
    $(function () {
        var content = $('#search').val();

        $('#search').keyup(function () {
            if ($('#search').val() != content) {
                content = $('#search').val();
                alert('Content has been changed');
            }
        });
    });
</script>


-->

