
@{
    ViewBag.Title = "POINewModify";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">POI Bewerken</h1>




    <div class="content">
        <form action="">
        <div class="POINewTop">
            <div class="POINewLeft">
                <label for="naam">Naam: </label>
                <input type="text" name="naam" id="naam" value=""> 
                <br/>
                <label for="adres">Adres: </label>
                <input type="text" name="adres" id="adres" value=""> 
                <br />
                <label for="gemeente">Gemeente: </label>
                <input type="text" name="gemeente" id="gemeente" value=""> 
                <br />
                <label for="telefoon">Tel.: </label>
                <input type="text" name="telefoon" id="telefoon" value=""> 
                <br />
                <label for="email">E-mail: </label>
                <input type="text" name="email" id="email" value=""> 
                <br />
                <label for="website">Website: </label>
                <input type="text" name="website" id="website" value=""> 
                <br />
                <label for="beschrijving">Beschrijving: </label>
                <input type="text" name="beschrijving" id="beschrijving" value=""> 
            </div>
            <div class="POINewRight">
                <label for="openingsuren">Openingsuren: </label>
                <input type="text" name="openingsuren" id="openingsuren" value="">
                <br />
                <label for="tijdsduur">Tijdsduur: </label>
                <input type="text" name="tijdsduur" id="tijdsduur" value="">
                <br />
                <label for="toegangsprijs">Toegangsprijs: </label>
                <input type="text" name="toegangsprijs" id="toegangsprijs" value="">
                <br />
                <label>Doelgroep:</label> <br />
                <fieldset class="">
                    <input type="checkbox" name="animal" value="Cat" />Cats <br />
                    <input type="checkbox" name="animal" value="Dog" />Dogs<br />
                    <input type="checkbox" name="animal" value="Bird" />Birds<br />
                </fieldset>
            </div>
        </div>
      
        <div class="POINewBody">


        </div>
        </form></div>
</div>

